@use 'variaveis';

.contato {
    height: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @media (max-width: 1024px) {
        width: 100%;
    }

    &__hero {
        background-image: url('../images/herocontato.png');
        width: 100%;
        height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.733);
            height: 100%;
            width: 100%;
            z-index: 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 800px;
        position: relative;
        z-index: 1;

        @media (max-width: 1024px) {
            display: block;
            text-align: center;
            height: auto;
            padding: 100px 20px;
        }

        &__item {
            color: variaveis.$branco;
            text-align: center;
            width: 50%;
            font-size: 20px;

            @media (max-width: 1024px) {
                font-size: 15px;
                padding-top: 100px;
                width: 100%;
            }
        }

        &__item2 {
            width: 49%;
            background-color: variaveis.$marromTransparente;
            padding: 60px 40px;
            border-radius: 10px;
            text-align: center;

            @media (max-width: 1024px) {
                width: 100%;
                padding: 50px 20px;
                margin: 50px auto 0;
            }

            &__input {
                background-color: variaveis.$begeCordeFundo;
                padding-left: 10px;
                height: 40px;
                width: 49%;
                border: none;
                border-radius: 5px;
                font-size: 17px;
                margin: 10px 0;

                &:focus {
                    outline: none;
                    border: solid 2px variaveis.$amarelo;
                }

                &:nth-of-type(3) {
                    width: 99%;
                    margin: 20px 0;

                    @media (max-width: 1024px) {
                        margin: 10px 0;
                        width: 100%;
                    }
                }

                &::placeholder {
                    color: black;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                }
            }

            &__button {
                background-color: variaveis.$amarelo;
                color: variaveis.$branco;
                width: 120px;
                height: 40px;
                border: none;
                font-size: 17px;
                font-weight: 600;
                border-radius: 5px;
                margin-top: 30px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: variaveis.$amareloBotao;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }
}