@use 'variaveis';

.footer {
    background-color: variaveis.$marrom;
    padding: 20px 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__title {
        color: variaveis.$branco;
        font-size: 40px;
        margin-bottom: 10px;

        @media (max-width: 1024px) {
          text-align: center;
        }
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1024px) {
            display: block;
            text-align: center;
        }
        &__item {
            color: variaveis.$branco;
            @media (max-width: 1024px) {
                margin-top: 40px;
            }
            &__link {
                &:nth-of-type(2) {
                    margin: 0 50px;
                }
            }

            &__img {
                transform: scale(1.9);
                color: variaveis.$branco;
                transition: all .2s;
                cursor: pointer;


                &:hover {
                    color: variaveis.$amarelo;
                    ;
                }

            }
        }
    }
&__fim{
    text-align: center;
    color: variaveis.$branco;
    padding-top: 20px;
}
}