@use 'variables';

.footer {
    background-color: variables.$color-dark-brown;
    padding: 20px 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        color: variables.$color-white;
        font-size: 40px;
        margin-bottom: 10px;
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &__item {
            color: variables.$color-white;

            &__link {
                &:nth-of-type(2) {
                    margin: 0 50px;
                }
            }

            &__img {
                transform: scale(1.9);
                color: variables.$color-white;
                transition: all .2s;
                cursor: pointer;


                &:hover {
                    color: variables.$color-golden;
                    ;
                }

            }
        }
    }

}