@use 'variables';

.header {
    box-shadow: 0 2px 4px rgba(65, 62, 62, 0.3);
    height: 0px;
    display: flex;
    align-items: center;
    background-color: variables.$color-beige;
    position: sticky;
    right: 0;
    top: -100px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s, opacity 0.3s, visibility 0.3s, height 0.3s;
    z-index: 2;

    &__active {
        top: 0;
        opacity: 1;
        visibility: visible;
        height: 80px;

        @media (max-width: 1024px) {
            height: auto;
            min-height: 80px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu {
            width: 30px;
            margin-right: 10px;
            flex-direction: column;
            cursor: pointer;
            display: none;

            @media (max-width: 1024px) {
                display: flex;
            }

            &__item {
                background-color: variables.$color-dark-brown;
                min-height: 3px;
                min-width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    &__branding {
        height: 100px;

        @media (max-width: 1024px) {
            content: url('../images/logo2.png');
            margin-left: 10px;
            height: 50px;
        }
    }

    &__list {
        display: flex;

        @media (max-width: 1024px) {
            flex-direction: column;
            text-align: center;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            background-color: variables.$color-beige;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
        }

        &--active {
            @media (max-width: 1024px) {
                max-height: 300px; 
            }
        }

        &__content {
            display: flex;
            width: 100%;
            justify-content: flex-end;

            @media (max-width: 1024px) {
                flex-direction: column;
                align-items: center;
            }

            &__item {
                list-style: none;
                margin-left: 40px;

                @media (max-width: 1024px) {
                    margin: 15px 0;
                }

                &__link {
                    text-decoration: none;
                    color: rgb(19, 1, 16);
                    transition: color 0.2s;

                    &:hover {
                        color: variables.$color-golden;
                    }
                }
            }
        }
    }
}