.sobre {
    overflow-x: hidden;


    &__content {
        &__item2 {

            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0;

            @media (max-width: 1024PX) {
                display: block;
                text-align: center;
                max-width: 100vw;
            }

            &__text {
                font-size: 20px;


                @media (max-width: 678PX) {
                    font-size: 15px;
                }
            }

            &__img {
                height: 500px;

                @media (max-width: 678PX) {
                    height: 300px;
                    margin-top: 50px;
                }

                @media (min-width:679px) and (max-width: 1024PX) {
                    margin-top: 100px;
                    height: 400px;
                }
            }
        }

        &__item {
            background-color: #daa520;

            @media (max-width: 1024PX) {
                width: 100vw;
            }

            &__container {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;


                @media (max-width: 1024PX) {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    
                }
            }

            &__img {
                height: 100%;
                display: block;

                @media (max-width: 678PX) {
                    content: url(../images/corpretaCelular.png);
                    height: 300px;
                    margin-left: 50px;
                }

                @media (min-width:679px) and (max-width: 1024PX) {
                    content: url(../images/corpretaCelular.png);
                    height: 400px;
                    margin-left: 200px;
                }
            }

            &__text {
                color: black;
                margin: 0 auto;
                font-size: 20px;
                width: 40%;

                @media (max-width: 678PX) {
                    width: 100vw;
                    margin: 0;
                    font-size: 15px;
                }

                @media (min-width:679px) and (max-width: 1024PX) {
                    font-size: 18px;
                    width: 100vw;
                    margin: 0;
                }

                &__title {
                    text-align: center;
                    margin-bottom: 40px;
                    text-decoration: underline;

                    @media (max-width: 678PX) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}